*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    p{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    h1{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font:size 4px; ;
    }
    ul{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .nav-principal{
        background: grey;
        height: 80px;
        width: 100%;
    }
    .imagen-nav{
        position: absolute;
        padding: 20px 50px;
    }
    .logo{
        height: 40px;
    }
    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-right: 20px;
    }
    nav ul li{
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
    }
    nav ul li a{
        color: black;
        font-size: 18px;
        padding: 7px 13px;
        text-decoration: none;
        list-style: none;
    }
footer{
    width: 100%;
    padding: 50px 0px;
    background-color:darkgrey;
}
.container-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}
.box-footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}
.box-footer-logo img{
    width: 180px;
    background-color: darkgray;
}
.box-footer h2{
    margin-bottom: 30px;
    color: #343434;
}
.box-footer a{
    margin-top: 10px;
    color: black;
    text-decoration: none;
}
.box-copyright{
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}
footer nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.rrss{
    text-decoration: none;
}
.rrss svg{
    display: flex;
    align-items: center;
    margin-top: 2em;
    width: 2em;
    height: 2em;
    color: purple;
}
.rrss svg:hover{
    transform: scale(1.2, 1.2);
}
.li-principal:hover{
    color: purple;
    transform: scale(1.2,.1.2);
    border-bottom: 4px solid purple;
} 
.Centrar{
    text-align: center;
}
.ordenar{
    width: 500px;
    margin-left: 3em;
    margin-bottom: 3em;
    margin-top: 3em;
    text-align: left;
}
.ordenar1{
display: flex;
flex-direction: column;
}
.ordenar1 h1{
    padding-bottom: 1em;
    font-size: 23px;
}
.imagen1{
    position: static;
    width: 100%;
    height: 50em;
}
.articulo{
    width: 16em;
    background-color:orange;
    height: 36em;
    padding: 1em 1.5em;
    margin: 10em 0.7em 10em 0.7em;
    border: solid 0.2em;
    border-radius: 1em;
    line-height: 1.5em;
}
.sectioncarreras{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
}
.title-carreras{
    line-height: 1.5em;
    text-align: center;
}
.especial{
    line-height: 5em;
}
.divimages{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
}
.layout-index{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10% 100% 100% 95%;
    grid-template-areas:
    "nav nav nav"
    "contenido contenido contenido "
    "seccion seccion seccion"
    "pie pie pie";
    grid-row-gap: 1em;
    width: 100%;
    height: 100vh;
}
.header-index{
    grid-area: nav;
}
.main-index{
    grid-area: contenido;
}
.main-index img{
    width: 100%
}
.section-index{
    grid-area: seccion;
    background-color: grey;
    height: 52em;
    align-self: center;
}
.footer-index{
    grid-area: pie  ;
}
.footer-index{
    height: 50%;
}
.quienes-somos-body p{
    font-size: 1em;
}
.quienes-somos-body section h2{
    font-size: 1.5em;
}
    .container-cover .svg1 img{
        width: 80%;
        display: flex;
        justify-items: end;
        margin: auto;
}
.container-cover .text h2{
    font-size: 2em;
    margin-left: 1em;
}
.container-cover .text p{
    font-size: 1em;
    margin-left: 1em;
}
.container-cover .text input{
    margin-left: 1em;
    cursor: pointer;
}
.container-cover{
    width: 100%;
    height: 800px;
}
.cover{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.container-cover .text{
    max-width: 400px;
}
.container-cover .text h2{
    font-size: 36px;
    font-weight: 600;
}
.container-cover .text p{
    font-size: 18px;
    margin-top: 40px;
}
.container-cover .svg1 img{
    width: 600px;
}
.container-cover .text input{
    padding: 18px 80px;
    border: none;
    font-size: 16px;
    border-radius: 50px;
    margin-top: 40px;
    background-color: purple;
    cursor: pointer;
}
@media screen and (min-width:320px) and (max-width:479px){
    .layout-index{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10% 100% 100% 95%;
        grid-template-areas:
        "nav"
        "contenido"
        "seccion"
        "pie";
    }
    .nav-principal{
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0px;
        line-height: 40px;
        padding-bottom: 2em;
    }
    .footer-index{
        height: 160%;
        width: 100%;
        }
        nav ul{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: flex-end;
            text-align: left;
            line-height: 60px;
        }
}
.ordenar1 .texto-nosotros h2{
    font-size: 2em;
    margin-left: 2em;
    padding-bottom: 1em;
}
.ordenar1 .texto-nosotros p{
    font-size: 1em;
    margin-left: 2em;
}
.ordenar1 p{
    padding-bottom: 1em;
}
.ordenar1 .imagen-quienes-somos img{
    width: 50%;
    display: flex;
    justify-items: end;
    margin: auto;
    padding: auto;
}
.ordenar1{
    width: 100%;
    height: 500px;
}
.caja-nosotros{
    max-width: 3000px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.ordenar2{
    width: 100%;
    height: 700px;
}
.caja-nosotros2{
    max-width: 2200px;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding-top: 200px;
    padding-bottom: 200px;
}
.ordenar2 .imagen-quienes-somos2 img{
    width: 90%;
    display: flex;
    justify-items: start;
    margin: auto;
    padding: auto;
    max-width: 900px;
}
.ordenar2 .texto-nosotros2 p{
    font-size: 1em;
    margin-left: 2em;
    max-width: 1200px;
}
.ordenar2 p{
    padding-bottom: 1em;
}
.ordenar2 .texto-nosotros2 h2{
    font-size: 2em;
    margin-left: 2em;
    padding-bottom: 1em;
}
.letra1{
    text-align: center;
    font-size: 36px;
}
.footer-index{
    height: 100%;
}
.layout-carreras{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 10% 100% 95%;
    grid-template-areas:
    "arriba arriba arriba"
    "cuadros cuadros cuadros"
    "abajo abajo abajo";
    grid-row-gap: 1em;
    width: 100%;
    height: 100vh;
}
.header-carreras{
    grid-area: arriba;
}
.seccion-carreras{
    grid-area: cuadros;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    height: 100vh;
}
.footer-carreras{
    grid-area: abajo;
}
@media screen and (min-width:320px) and (max-width:479px){
    .layout-carreras{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10% 100% 100% 100% 100% 100% 95%;
        grid-template-areas:
        "arriba"
        "cuadros"
        "cuadros"
        "cuadros"
        "cuadros"
        "cuadros"
        "abajo";
    }
    .seccion-carreras{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 86em;
        justify-content: center;
        align-items: center;
        padding-top: 20em;
    }
    .footer-carreras{
        height: 160%;
        width: 100%;
    }
    .nav-principal{
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0px;
        line-height: 40px;
        padding-bottom: 2em;
    }
}
/* Nuevo formulario */
.form1{
    background-color: white;
    margin: auto;
    width: 90%;
    max-width: 700px;
    padding: 4.5em 3em; 
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
    text-align: center;
}
.titulo-formulario{
    font-size: 2rem;
    margin-bottom: 0.5em;
}
.texto-formulario{
    font-weight: 400;
    color: black;
}
.form-container{
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
}
.form-group{
    position: relative;
    color: grey;
}
.form-input{
    width: 100%;
    background: none;
    color: gray;
    font-size: 1rem;
    padding: 0.6em 0.3em;
    border: none;
    outline: none;
    border-bottom: 1px solid;
}
.form-input:focus + .form-label, .form-input:not(:placeholder-shown) + .form-label{
    transform: translateY(-12px) scale(0.7);
    transform-origin: left top;
}
.form-label{
    color: black;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform 0.5s, color 0.3s;
}
.form-submit{
    background: black;
    color: white;
    font-weight: 300;
    font-size: 1rem;
    padding: 0.8em 0;
    border: none;
    border-radius: 0.5em;
}
.form-line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: black;
}
.color-formulario{
    color: black;
}
@media screen and (min-width:320px) and (max-width:479px){
.body-vacante{
    width: 200%;
}
}
/* Galeria de imagenes */
.galeria{
    font-family: "open Sans";
}
.galeria h1{
    text-align: center;
    margin: 20px 0 15px 0;
    font-weight: 300;
}
.linea{
    border-top: 5px solid purple;
    margin-bottom: 40px;
}
.contenedor-imagenes{
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 3px;
}
.contenedor-imagenes .imagen{
    width: 32%;
    position: relative;
    height: 250px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75);
}
.imagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    background: purple;
    width: 100%;
    height: 0;
    transition: .1s ease;
    overflow: hidden;
}
.overlay h2{
    color: white;
    font-size: 30px;
    position: absolute;
    font-weight: 300;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.imagen:hover .overlay{
    height: 100%;
    cursor: pointer;
}
@media screen and (min-width:320px) and (max-width:479px){
    .contenedor-imagenes{
        width: 90%;
    }
    .contenedor-imagenes .imagen{
        width: 80%;
    }
    h1{
        font-size: 22px;
    }
    iframe , .letra1{
        display: none;
    }
    .box-copyright h2{
        display: flex;
        justify-content: center;
    }
}
@media screen and (min-width:320px) and (max-width:479px){
    .layout-nosotros{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,1fr);
        width: 100%;
        grid-template-areas: 
        "nav"
        "main"
        "main"
        "main"
        "main"
        "section1"
        "section2"
        "pie";
    }
    .header-nosotros{
        grid-area: nav;
    }
    .main-nosotros{
        grid-area: main;
    }
    .section1-nosotros{
        grid-area: section1;
    }
    .section2-nosotros{
        grid-area: section2;
    }
    .footer-nosotros{
        grid-area: pie;
    }
    .section1-nosotros p{
        display: flex;
        flex-direction: column;
        font-size: 10px;
        border-radius: 1px;
        text-align: center;
    }
    .section1-nosotros h2{
        text-align: center;
    }
    .imagen-quienes-somos{
        display: none;
    }
    .section2-nosotros p{
        display: flex;
        flex-direction: column;
        font-size: 10px;
        border-radius: 1px;
        text-align: center;
    }
    .section2-nosotros h2{
        text-align: center;
    }
    .imagen-quienes-somos2{
        display: none;
    }
}